<form method="post" action="/admin/authenticate" id="createRoomForm">
	<h1>Admin login</h1>
 	Username: <input type="text" name="username"/><br/>
	Password: <input type="password" name="password"/><br/><br/>
 	<input type="submit" value="Submit" />
</form>