<html>
	<head>
		<title><%= blogName %></title>
		<script src="/faye.js"></script>
		<script src="http://code.jquery.com/jquery-1.4.4.js"></script>
		<link href="/stylesheet.css" media="screen" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<h1>HEADER</h1>
		<form method="get" action="/search">
			<input type="text" name="keywords" placeholder="Search term">
			<input type="submit" value="search">
		</form>
		<br/>
		<%- body %>
		<br/><br/>
		<h1>FOOTER</h1>
	</body>
</html>