<script src="/faye.js"></script>
<script>

$(document).ready(function() {
	$("#submit").click(function() {		
			$.ajax({  
			  type: "POST",  
			  url: "/<%= post.id %>/comments/save",
			  data: { author_name: $("input#author_name").val(), author_email: $("input#author_email").val(), comment: $("textarea#comment").val() },
			  success: function() {
			  }
			});
			return false;
	});
});

var client = new Faye.Client('/faye', {
	timeout: 120
});

client.subscribe('/<%= post.id %>/comments/bayeux', function(response) {
	// $("#comments_list").append("<div id=\"comment_" + response.id + "\">    " + 
	// 					   	   "	<h4>" + unescape(response.author_name) + "</h4>   " +
	// 					       "	<p>" + unescape(response.comment) + "</p>         " +
	// 					       "</div>");
	
	$("#comments").append("<li>" + 
						 "	<h3>" + unescape(response.author_name) + "</h3>" + 
						 "  <small>" + response.created_at + "</small>" + 
						 "	<p>" + unescape(response.comment) + "</p>" + 
						 "</li>")

});

</script>

<div class="post">
	<h2><%= unescape(post.title) %></h2>
	<div class="post-info">
		by <%= unescape(post.user_name) %><br/><br/>
		<p><%= unescape(post.created_at) %></p>
	</div>
	<div class="post-entry">
		<p><%- unescape(post.body) %></p>
	</div>
</div>
	<!-- You can start editing here. -->
	<div id="comments">
		<h2>Comments</h2>
		<ol class="commentlist">
			<% for (var i=0; i < comments.length; i++) { %>
				<li>
					<h3><%= unescape(comments[i].author_name) %></h3>
					<small><%= comments[i].created_at %></small>
					<p><%= unescape(comments[i].comment) %></p>
				</li>
				<br/>
			<% } %>
		</ol>
	</div>
	<hr/>
	<div id="respond">
		<h2>Leave a Reply</h2>
		<form>
			<p class="commentinput push">
				<label for="author">Name (required)</label>
				<input type="text" name="author" id="author_name" value="" size="22" tabindex="1"/>
			</p>
			<p class="commentinput push">
				<label for="email">Mail (not published) (required)</label>
				<input type="text" name="email" id="author_email" value="" size="22" tabindex="2"/>
			</p>
			<p class="commenttext">
				<label for="comment">Your Comment</label>
				<textarea name="comment" id="comment" rows="10" cols="10" tabindex="4"></textarea>
			</p>
			<p>
				<button name="submit" type="submit" id="submit" tabindex="5">Submit Comment</button>
				<button name="reset" type="reset" id="reset" tabindex="6">Reset Form</button>
			</p>
		</form>
	</div>
	<hr/>

<!-- <h1><%= unescape(post.title) %></h1>
<p>by <%= post.user_name %></p>
<p><%- unescape(post.body) %></p>

<br/>
<h2>Comments</h2>

<div id="comments_list">
	<% for (var i=0; i < comments.length; i++) { %>
		<div id="comment_<%= i %>">
			<h4><%= unescape(comments[i].author_name) %></h4>
			<p><%= unescape(comments[i].comment) %></p>
		</div>
	<% } %>
</div>

<br/>
<h2>New comment</h2>

<form>
	<input type="text" id="author_name" placeholder="Your name" size="41"/><br/>
	<input type="text" id="author_email" placeholder="Your e-mail" size="41"/><br/><br/>
	
	<textarea id="comment" cols="30" rows="5" placeholder="Your comment"></textarea><br/><br/>
	
	<input type="submit" id="submit"/>
</form> -->