<h1>Import Wordpress posts</h1>

Paste the XML content below: <br/><br/>

<form method="POST" action="/admin/import/save">
	<textarea name="xml" rows="15" cols="80" style="550px; height:300px;">
	</textarea><br/><br/>
	
	<input type="submit" value="Submit">
</form>