<form method="post" action="/admin/posts/save" id="createRoomForm">
	<h1>New Post</h1>
 	Title: <input type="text" name="title" size="62"/><br/>
	Body:<br/> <textarea name="body" rows="20" cols="50"></textarea><br/><br/>
 	<input type="submit" value="Submit" />
</form>